{% extends 'AppRNM/index.html' %}

{% load static %}

    {% block content %} 
    <br>
    <br>
   
    <div class="section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_left">
						   <div class="left">
						     
						   </div>
						   <div class="right">
						   
                            <h2><span class="theme_color"></span> </h2>
                          </div>	
                        </div>
                    </div>
                </div>
            </div>

            



            <div class="col-lg-12">
                <p> A great deal of our work aims to help brands visualize innovation.<br>
                    That is why most of it remains confidential even after a product has been made available to the public. </p>
            </div>

        
			<div class="row margin-top_30">
			
			   <div class="col-sm-6 col-md-4">
			     <div class="service_blog">
				    <div class="service_icons">
					   <img width="75" height="75" src="{% static 'AppRNM/images/pack.png' %}" alt="#">
					</div>
					<div class="full">
					   <h4>Packagung & Concept development</h4>
					</div>
					<div class="full">
                        <img width="290" height="200" src="{% static 'AppRNM/images/pack2.gif' %}" alt="#">
					</div>
				 </div>
			   </div>
			   
			   <div class="col-sm-6 col-md-4">
			     <div class="service_blog">
				    <div class="service_icons">
					   <img width="75" height="75" src="{% static 'AppRNM/images/movi.png' %}" alt="#">
					</div>
					<div class="full">
					   <h4>Motion<br> Graphics</h4>
					</div>
                    
					<div class="full">
                        <img width="290" height="200" src="{% static 'AppRNM/images/movi2.gif' %}" alt="#">
					</div>
				 </div>
			   </div>
			   
			   <div class="col-sm-6 col-md-4">
			     <div class="service_blog">
				    <div class="service_icons">
					   <img width="75" height="75" src="{% static 'AppRNM/images/3d.png' %}" alt="#">
					</div>
					<div class="full">
					   <h4>3D<br>Animation</h4>
					</div>
					<div class="full">
                        <img width="290" height="200" src="{% static 'AppRNM/images/3d2.gif' %}" alt="#">
					</div>
				 </div>
			   </div>
			   
			   <div class="col-sm-6 col-md-4">
			     <div class="service_blog">
				    <div class="service_icons">
					   <img width="75" height="75" src="{% static 'AppRNM/images/digi.png' %}" alt="#">
					</div>
					<div class="full">
					   <h4>Digital<br>Content</h4>
					</div>
					<div class="full">
                        <img width="290" height="200" src="{% static 'AppRNM/images/digi2.gif' %}" alt="#">
					</div>
				 </div>
			   </div>
			   
			   <div class="col-sm-6 col-md-4">
			     <div class="service_blog">
				    <div class="service_icons">
					   <img width="75" height="75" src="{% static 'AppRNM/images/produc.png' %}" alt="#">
					</div>
					<div class="full">
					   <h4>Product performance demos</h4>
					</div>
					<div class="full">
                        <img width="290" height="200" src="{% static 'AppRNM/images/produc2.gif' %}" alt="#">
					</div>
				 </div>
			   </div>
			   
			   <div class="col-sm-6 col-md-4">
			     <div class="service_blog">
				    <div class="service_icons">
					   <img width="75" height="75" src="{% static 'AppRNM/images/tv.png' %}" alt="#">
					</div>
					<div class="full">
					   <h4>Product cards<br>for TV ads</h4>
					</div>
					<div class="full">
                        <img width="290" height="200" src="{% static 'AppRNM/images/tv2.gif' %}" alt="#">
					</div>
				 </div>
			   </div>
			   
			   
			</div>
        </div>
    </div>





    {% endblock %}